Xft.dpi:        144
Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

*geometry: 400x400
*font: xft:CodeNewRoman Nerd Font Mono:size=14
*savelines: 16384
*ScrollBar: false
*scrollBar: false
*termName: xterm-256color
*BellIsUrgent: true
*cursorBlink: true

*.cursorColor: #f3f3f3
*.pointerColor: #f3f3f3
*.foreground: #f3f3f3
*.background: #111111
!black
*.color0:  #111111
*.color1:  #f36e6e
!red
*.color2:  #6ef36e
*.color3:  #f3f36e
!green
*.color4:  #6e6ef3
*.color5:  #f36ef3
!yellow
*.color6:  #6ef3f3
*.color7:  #aaaaaa
!blue
*.color8:  #333333
*.color9:  #f36e6e
!cyan
*.color10: #6ef36e
*.color11: #f3f36e
!magenta
*.color12: #6e6ef3
*.color13: #f36ef3
!white
*.color14: #6ef3f3
*.color15: #f3f3f3
