Xft.dpi:        96

Xft.antialias:  true
Xft.rgba:       rgb
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.autohint:   false
Xft.lcdfilter:  lcddefault

*geometry: 400x400
*font: xft:CodeNewRoman Nerd Font Propo:size=14:style=Regular
*savelines: 16384
*ScrollBar: false
*scrollBar: false
*termName: rxvt-unicode
*BellIsUrgent: true
*urgentOnBell: true
*cursorBlink: true
*scrollTtyOutput: false
*scrollWithBuffer: true
*scrollTtyKeypress: true
*letterSpace: -1

*.cursorColor: #f3f3f3
*.pointerColor: #f3f3f3
*.foreground: #ffffff
*.background: #000000
!black
*.color0:  #000000
*.color8:  #333333
!red
*.color1:  #ffbda1
*.color9:  #ffbda1
!green
*.color2:  #6efa6e
*.color10: #6efa6e
!yellow
*.color3:  #FCF289
*.color11: #FCF289
!blue
*.color4:  #8cd6ff
*.color12: #8cd6ff
!magenta
*.color5:  #ffb3f6
*.color13: #ffb3f6
!cyan
*.color6:  #57ffc3
*.color14: #57ffc3
!white
*.color7:  #cfcfcf
*.color15: #ffffff
